@{
    ViewData["Title"] = "Display Favorites";
}

@model List<List<Result>>

    <style>
        table.center {
            margin-left: auto;
            margin-right: auto;
        }

        .disabledbutton {
            opacity: 0.6;
            cursor: not-allowed;
        }

    </style>

<h1 style="text-align: center">Here are your Favorite Games!</h1>
@if (Model[0].Count < 5)
{
    <p style="text-align:center">Please add at least five games to your favorites list to be able to generate recommendations!</p>
}
else
{
    <td>
        <form action="../Game/GenerateRecommendations" method="post" style=" color: yellow; text-align: center; width:100px; height:50px">
            <input type="submit" class="btn-success" value="Get Recommendations!" />
        </form>
    </td>
}

@for (int i = 0; i < Model[0].Count; i++)
{
        <table class="table table-borderless center" style="table-layout:fixed; height:auto">

            <tr style="background-image: linear-gradient(to bottom, rgb(20, 20, 20), rgba(105, 105, 105, 0.35)),
                url( @Model[0][i].background_image ); background-size:cover;">

                <td><a href="../Game/GameDetails?id=@Model[0][i].id" method="post" style="color: white; font-size:25px;">@Model[0][i].name</a></td>


                <td style="font-size:30px;">
                    @if (Model[0][i].metacritic == 0)
                    {
                        <p>Not Available</p>
                    }
                    else
                    {
                        <p>Metacritic</p>
                        if (Model[0][i].metacritic >= 75)
                        {
                            <p style="color:green"> @Model[0][i].metacritic </p>
                        }
                        else if (Model[0][i].metacritic >= 50 && Model[0][i].metacritic <= 74)
                        {
                            <p style="color:yellow"> @Model[0][i].metacritic </p>
                        }
                        else if (Model[0][i].metacritic <= 49)
                        {
                            <p style="color:red"> @Model[0][i].metacritic </p>
                        }
                    }
                <td>
                    @if (Model[0][i].userrating == -1)
                    {
                        <p>User Score</p>
                        <form action="../Game/AddUserRating" method="post">
                            <input type="number" min="0" max="100" name="UserRating" required placeholder="0-100"/>
                            <input type="number" name="id" value="@Model[0][i].id" hidden />
                            <input type="submit" value="submit" />
                        </form>

                    }
                    else
                    {
                        @Model[0][i].userrating
                    }
                <td>
                    <form action="../Game/DeleteFavorite?id=@Model[0][i].id" method="post">
                        <input type="submit" class="btn-danger" value="Remove From Favorites" />
                    </form>
                    <br />
                    <p>@($"{Model[0][i].favoritecount} other users also have favorited this game!")</p>
                </td>
            </tr>
        </table>
}

<br />
<h4>We see you've viewed the details of these games as well.<br /> Would you like to add them to your favorites?</h4>
<br />

@for (int i = 0; i < Model[1].Count; i++)
{
<a href="../Game/GameDetails?id=@Model.[1][i].id" method="post">
    <table class="table table-borderless center" style="table-layout:fixed; height:auto">

        <tr style="background-image: linear-gradient(to bottom, rgb(20, 20, 20), rgba(105, 105, 105, 0.35)),
            url( @Model[1][i].background_image ); background-size:cover;">

            <td style="font-size:25px;">@Model[1][i].name<br /></td>

            <td>
            @if (!Model[1][i].isfavorite)
            {
                <form action="../Game/AddToFavorites?id=@Model[1][i].id" method="post">
                    <input type="submit" class="btn-success" value="Add to Favorites" />
                </form>
            }
            else
            {
                <input type="submit" class="btn-success disabledbutton" disabled value="Already Favorited" />
            }
        </tr>
    </table>
</a>
}
