@{
    ViewData["Title"] = "Display Favorites";
}

@model List<List<Result>>

<h1 class="display-1">Here are your Favorite Games!</h1>
@if (Model[0].Count < 5)
{
    <p>Please add at least five games to your favorites list to be able to generate recommendations!</p>
}
else
{

    <td>
        <form action="../Game/GenerateRecommendations" method="post">
            <input type="submit" class="btn-success" value="Get Recommendations!" />
        </form>
    </td>

}
@for (int i = 0; i < Model[0].Count; i++)
{
    <table class="table table-hover table-info" style="table-layout:fixed">
        <tr>
            <th>
                Name
            </th>
            <th>
                Metacritic Score
            </th>
            <th>
                User Rating
            </th>
            <th>
                Background Image
            </th>
        </tr>
        <tr class="thread-dark">

            <td>
                <a href="../Game/GameDetails?id=@Model[0][i].id" method="post">@Model[0][i].name<br /></a>
            </td>

            <td>
                @if (Model[0][i].metacritic == null)
                {
                    <a>Not availabile</a>
                }
                else
                {
                    @Model[0][i].metacritic
                }
                <br />
            <td>
                @if (Model[0][i].userrating == -1)
                {
                    <form action="../Game/AddUserRating" method="post">
                        <input type ="number" min="0" max="100" name="UserRating" required/>
                        <input type ="number" name="id" value="@Model[0][i].id" hidden/>
                        <input type = "submit" value="submit"/>
                    </form>

                }
                else
                {
                    @Model[0][i].userrating
                }
            </td>

            <td>
                <img src="@Model[0][i].background_image" style="width:200px;height:200px" /><br />
            </td>

            <td>
                <form action="../Game/DeleteFavorite?id=@Model[0][i].id" method="post">
                    <input type="submit" class="btn-danger" value="Remove From Favorites" />
                </form>
            </td>
        </tr>
    </table>
}

<br />
<h4>We see you've viewed the details of these games as well.<br /> Would you like to add them to your favorites?</h4>
<br />
@for (int i = 0; i < Model[1].Count; i++)
{
    <table class="table table-hover table-info" style="table-layout:fixed;width:50%">
        <tr>
            <th>
                Name
            </th>
            <th>
                Background Image
            </th>
        </tr>
        <tr class="thread-dark">

            <td>
                <a href="../Game/GameDetails?id=@Model[1][i].id" method="post">@Model[1][i].name<br /></a>
            </td>

            <td>
                <img src="@Model[1][i].background_image" style="width:100px;height:100px" /><br />
            </td>

            <td>
                <form action="../Game/AddToFavorites?id=@Model[1][i].id" method="post">
                    <input type="submit" class="btn-success" value="Add to Favorites" />
                </form>
            </td>
        </tr>
    </table>
}
