@{
    ViewData["Title"] = "DisplayFavorites";
}

@model List<List<Game>>

<h2>Favorite Games!</h2>
@if (Model[0].Count < 5)
{
    <p>Please add at least five games to your favorites list to be able to generate recommendations!</p>
}
else
{
    <td>
        
        <form action="../Game/GameRecommendations" method="post">
            <input type="submit" class="btn-success" value="Get Recommendations!" />
        </form>
    </td>
    @*<a href="../Game/GenerateRecommendations" class="btn-success"> Get Recommendations!</a>*@
}
@for (int i = 0; i < Model[0].Count; i++)
{
    <table class="table table-hover table-info" style="table-layout:fixed">
        <tr>
            <th>
                Name
            </th>
            <th>
                Metacritic Score
            </th>
            <th>
                Background Image
            </th>

        </tr>
        <tr class="thread-dark">

            <td> <a href="../Game/GameDetails?id=@Model[0][i].id" method="post">@Model[0][i].name<br /></a></td>

            <td>
                @if (Model[0][i].metacritic == null)
                {
                    <a>Not availabile</a>
                }
                else
                {
                    @Model[0][i].metacritic
                }
                <br />
            </td>

            <td><img src="@Model[0][i].background_image" style="width:200px;height:200px" /><br /></td>

            <td>
                <form action="../Game/DeleteFavorite?id=@Model[0][i].id" method="post">
                    <input type="submit" class="btn-danger" value="Remove From Favorites" />
                </form>
            </td>

        </tr>

    </table>

}



@*this table is wrong, the actual top button for Search History is the correct logic *@
<br />
<h4>We see you've viewed the details of these games as well.<br /> Would you like to add them to your favorites?</h4>
<br />
@for (int i = 0; i < Model[1].Count; i++)
{
    <table class="table table-hover table-info" style="table-layout:fixed;width:50%">
        <tr>
            <th>
                Name
            </th>
            <th>
                Background Image
            </th>

        </tr>
        <tr class="thread-dark">

            <td> <a href="../Game/GameDetails?id=@Model[1][i].id" method="post">@Model[1][i].name<br /></a></td>

            <td><img src="@Model[1][i].background_image" style="width:100px;height:100px" /><br /></td>

            <td>
                <form action="../Game/AddToFavorites?id=@Model[1][i].id" method="post">
                    <input type="submit" class="btn-success" value="Add to Favorites" />
                </form>
            </td>

        </tr>

    </table>

}
