@{
    ViewData["Title"] = "Game Details";
}

@model Game

<style>
    body {
        background-image: linear-gradient(to bottom, rgba(105, 105, 105, 0.80), rgba(0, 0, 0, 1)),
        url('@Model.background_image');
        background-size: cover;
    }

    .disabledbutton {
        opacity: 0.6;
        cursor: not-allowed;
    }
</style>

<h2 class="display-3" style="font-size:40px;">@Model.name</h2>

<p>Game Description: <br />@Model.description_raw</p>

<p>Metacritic Score: @Model.metacritic</p>

<p>Release Date: @Model.released</p>

<p>Playtime: @Model.playtime Hour(s)</p>

<p>
    Platforms:
    @for (int i = 0; i < Model.platforms.Length; i++)
        if (i < Model.platforms.Length - 1)
        {
            @($"{Model.platforms[i].platform.name}, ")
        }
        else
        {
            @($"{Model.platforms[i].platform.name}")
        }
</p>

<p>
    Developers:
    @for (int i = 0; i < Model.developers.Length; i++)
        if (i < Model.developers.Length - 1)
        {
            <a href="../Game/GetGameByDeveloper?id=@Model.developers[i].id" style="text-decoration:none;" method="post"> @($"{Model.developers[i].name}")</a><span>,&nbsp</span>
        }
        else
        {
            <a href="../Game/GetGameByDeveloper?id=@Model.developers[i].id" style="text-decoration:none;" method="post"> @($"{Model.developers[i].name}")</a>
        }
</p>

<p>
    Publishers:
    @for (int i = 0; i < Model.publishers.Length; i++)
        if (i < Model.publishers.Length - 1)
        {
            <a href="../Game/GetGameByPublisher?id=@Model.publishers[i].id" style="text-decoration:none;" method="post">  @($"{Model.publishers[i].name}")</a><span>,&nbsp</span>
        }
        else
        {
            <a href="../Game/GetGameByPublisher?id=@Model.publishers[i].id" style="text-decoration:none;" method="post">  @($"{Model.publishers[i].name}")</a>
        }
</p>

<td>
    Where to purchase:
    @foreach (var store in Model.stores)
    {
        <p>@store.store.name</p>
    }
    <p><a href="https://www.amazon.com/s?k=@Model.name&i=videogames" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a></p>
</td>

<p>
    Genres:
    @for (int i = 0; i < Model.genres.Length; i++)
        if (i < Model.genres.Length - 1)
        {
            @($"{Model.genres[i].name}, ")
        }
        else
        {
            @($"{Model.genres[i].name}")
        }
</p>

<p>
    Tags:
    @for (int i = 0; i < Model.tags.Length; i++)
        if (i < Model.tags.Length - 1)
        {
            @($"{Model.tags[i].name}, ")
        }
        else
        {
            @($"{Model.tags[i].name}")
        }
</p>

@if (Model.esrb_rating != null)
{
    <p>ESRB Rating: @Model.esrb_rating.name</p>
}
@if (Model.clip != null)
{
    <video width="320" height="240" controls autoplay muted>
        <source src="@Model.clip.clips.full" type="video/mp4">
        Your browser does not support the video tag.
    </video>
}
<br />
<a href="../Game/SeeMoreGamesLikeThis?id=@Model.id">See more games like this one!</a>
<br />
@if (!Model.isFavorite)
{
    <form action="../Game/AddToFavorites?id=@Model.id" method="post">
        <input type="submit" class="btn-success" value="Add to Favorites" />

    </form>
}
else
{
    <input type="submit" class="btn-success disabledbutton" disabled value="Already Favorited" />
}
