
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@model Game

<form action="../Game/SearchResult" method="post">
<input type="text" name="query" placeholder="Search for Games..." />
<input type="submit" name="submit" />
</form>

@for (int i = 0; i < 20; i++)
{
    <p>@i</p>
    <p>@Model.results[i].name</p>
    <p>@Model.description</p>
    <p>@Model.results[i].metacritic</p>
    <br />
    @*<img src="@Model.results[i].background_image" width="25%" height="25%" alt="Alternate Text" />*@
}