
@{
    ViewData["Title"] = "Questionnaire";

}

@model List<string>

@section head{
    <style type="text/css">
        body {
            background-image: linear-gradient(to bottom, rgba(105, 105, 105, 0.40), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));

        }
    </style>
}

@{string[] genres = { "Action", "Indie", "Adventure", "RPG", "Strategy", "Shooter", "Casual", "Simulation", "Puzzle",
            "Arcade", "Platformer", "Racing", "Sports", "Massively Multiplayer", "Family", "Fighting", "Board Games", "Educational", "Card" }; }
@{string[] tags = { "Singleplayer", "Multiplayer", "Atmospheric", "Great Soundtrack", "RPG", "Co-op", "Story Rich", "Open World", "cooperative", "First-Person", "Sci-fi",
                "2D", "Third Person", "FPS", "Horror", "Fantasy", "Comedy", "Sandbox", "Survival", "Exploration", "Stealth", "Tactical", "Pixel Graphics", "Action RPG", "Retro",
                "Space", "Zombies", "Point & Click", "Action-Adventure", "Hack and Slash", "Side Scroller", "Survival Horror", "RTS", "Roguelike", "mmo", "Driving", "Puzzle",
                "MMORPG", "Management", "JRPG" };}
<h1 class="display-3" style="text-align: center;">Questionnaire</h1>
<h3>Take this questionnaire to find out what kind of games you may like. <br /><br />You may be new to gaming or just looking to try something new!</h3>
<br />
@if (Model[0] != "" && Model[1] != "")
{
    <h3>Since you've already taken the questionnaire, we've prepopulated it with your prior choices.</h3>
    <form action="../Game/ResetQuestionnaire">
        <input type="submit" value="Reset Questionnaire" />
    </form><br />
}


<form action="../Game/GenerateQuestionnaireRecommendations" method="post">
    <h4 style="border:solid; color:white;">Below is a list of genres.<br />Please select any of these genres that sound interesting to you!</h4><br />
    @for (int i = 0; i < genres.Length; i++)
    {
        <div style="display: inline-block">
            @if (Model[0].Contains(genres[i]))
            {
                <input type="checkbox" id="@genres[i]" name="genre" value="@genres[i]" checked />
                <label for="@genres[i]">@genres[i]&nbsp;</label><br />
            }
            else
            {
                <input type="checkbox" id="@genres[i]" name="genre" value="@genres[i]" />
                <label for="@genres[i]">@genres[i]&nbsp;</label><br />
            }
        </div>
    }

    <br /><br /> <h4 style="border:solid; color:white;">Please select any of these tags that interest you as well!<br />Some of these tags will seem redundant, <br />because there is some overlap with genres.</h4><br />
    @for (int i = 0; i < tags.Length; i++)
    {
        <div style="display: inline-block">
            @if (Model[1].Contains(tags[i]))
            {
                <input type="checkbox" id="@tags[i]" name="tag" value="@tags[i]" checked/>
                <label for="@tags[i]">@tags[i]&nbsp;</label><br />
            }
            else
            {
                <input type="checkbox" id="@tags[i]" name="tag" value="@tags[i]" />
                <label for="@tags[i]">@tags[i]&nbsp;</label><br />
            }
            
        
        </div>
    }

    <br /><br /><h2>Now let's find you some games!</h2><br />
    <input type="submit" value="Get Game Recommendations" />


</form>
