
@{
    ViewData["Title"] = "Questionnaire Results";
}

@section head{
    <style type="text/css">
        body {
            background-image: linear-gradient(to bottom, rgba(105, 105, 105, 0.40), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
        }
    </style>
}

<h2 class="display-3">Questionnaire Results</h2>

@model List<Result>

@if (Model.Count == 0)
{
    <h3>@ViewBag.NoResults</h3>
    <br />
    <form action="../Game/Questionnaire" method="post">
        <input type="submit" value="Take The Questionnaire" />
    </form>
}

@for (int i = 0; i < Model.Count; i++)
{<a href="../Game/GameDetails?id=@Model[i].id" style="text-decoration:none;" method="post">
        <table class="table table-borderless center" style="table-layout:fixed; height:auto">

            <tr style="background-image: linear-gradient(to bottom, rgb(20, 20, 20), rgba(105, 105, 105, 0.35)),
                url( @Model[i].background_image ); background-size:cover;">

                <td style="color: white; font-size:30px;">@Model[i].name</td>

                <td>
                    <p style="color:white; font-size:25px;">Metacritic</p>
                    @if (Model[i].metacritic == null)
                    {
                        <p style="color:white; font-size:40px;">N/A</p>
                    }
                    else
                    {
                        if (Model[i].metacritic >= 75)
                        {
                            <p style="color:white; font-size:40px; background-color:green; height:60px; width:60px; border-radius: 5px;"> @Model[i].metacritic </p>
                        }
                        else if (Model[i].metacritic >= 50 && Model[i].metacritic <= 74)
                        {
                            <p style="color:white; font-size:40px; background-color:goldenrod; height:60px; width:60px; border-radius: 5px;;"> @Model[i].metacritic </p>
                        }
                        else if (Model[i].metacritic <= 49)
                        {
                            <p style="color:white; font-size:40px; background-color:red; height:60px; width:60px; border-radius: 5px;"> @Model[i].metacritic </p>
                        }
                    }
                </td>
                <td>
                    @if (!Model[i].isfavorite)
                    {
                        <form action="../Game/AddToFavorites?id=@Model[i].id" method="post">
                            <input type="submit" class="btn-success" value="Add to Favorites" />
                        </form>
                    }
                    else
                    {
                        <input type="submit" class="btn-success disabledbutton" disabled value="Already Favorited" />
                    }
                <td>
                    <form action="../Game/AddToWishlist?id=@Model[i].id" method="post">
                        <input type="submit" class="btn-primary" value="Add to Wishlist" />
                    </form>
                </td>
            </tr>
        </table>
    </a>
}

