
@model SearchResult

<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .disabledbutton {
        opacity: 0.6;
        cursor: not-allowed;
    }
</style>



<h2 style=" color: white; text-align: center">@ViewBag.Header</h2>
<br />

@for (int i = 0; i < Model.results.Length; i++)
{

    <a href="../Game/GameDetails?id=@Model.results[i].id" method="post">
        <table class="table table-borderless center" style="table-layout:fixed; width:75%; height:44%;">

            <tr style="background-image: linear-gradient(to bottom, rgb(20, 20, 20), rgba(105, 105, 105, 0.35)), 
                url( @Model.results[i].background_image ); background-size:cover;">

                <td style="color:white; font-size:25px;">@Model.results[i].name<br /></td>

                <td style="font-size:30px;">
                    @if (Model.results[i].metacritic == 0)
                    {
                        <p>Not Available</p>
                    }
                    else
                    {
                        if (Model.results[i].metacritic >= 75)
                        {
                            <p style="color:green"> @Model.results[i].metacritic </p>
                        }
                        else if (Model.results[i].metacritic >= 50 && Model.results[i].metacritic <= 74)
                        {
                            <p style="color:yellow"> @Model.results[i].metacritic </p>
                        }
                        else if (Model.results[i].metacritic <= 49)
                        {
                            <p style="color:red"> @Model.results[i].metacritic </p>
                        }
                    }<br />
                </td>
                <td>
                    @if (!Model.results[i].isfavorite)
                    {
                        <form action="../Game/AddToFavorites?id=@Model.results[i].id" method="post">
                            <input type="submit" class="btn-success" value="Add to Favorites" />

                        </form>
                    }
                    else
                    { <input type="submit" class="btn-success disabledbutton" disabled value="Already Favorited" />
                    }<br />
            </tr>
        </table>
    </a>
        }
